@import "tailwindcss";

/* src/index.css */
@font-face {
    font-family: 'Mooxy';
    src: url('./assets/Fonts/mooxy.ttf') format('truetype');
}
@font-face {
    font-family: 'vodkabrush';
    src: url('./assets/Fonts/vodkabrush.otf') format('truetype');
}